.grid {
  width: 100%;
  display: block;
  padding: 0;
}

@media (min-width: 740px) {
  .grid.wide {
    width: 644;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) and (max-width: 1239px) {
  .grid.wide {
    width: 984px;
  }
}
@media (min-width: 1240px) {
  .grid.wide {
    width: 1200px;
    max-width: 1200px;
  }
}
