.nav {
  height: 45px;
}
.nav__pc {
  display: none;
}

.navbar-toggler {
  display: block;
  width: 28px;
  height: 28px;

  color: #000000;
  cursor: pointer;
}
.nav__overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: none;

  background-color: rgba(0, 0, 0, 0.1);

  animation: fadeIn linear 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.nav__mb {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;

  width: 375px;
  max-width: 100%;

  background-color: #fff;

  opacity: 0;
  transform: translateX(100%);
  transition: all linear 0.2s;
}

.nav__list {
}
.nav__list li {
  display: inline-block;
}
.nav__link {
}
.nav__close {
  position: absolute;
  top: 1rem;
  right: 1rem;

  width: 14px;
  height: 14px;

  color: #666;
  cursor: pointer;
}
.toggle-nav:checked ~ .navbar-toggler {
  display: none;
}
.toggle-nav:checked ~ .nav__mb {
  transform: translateX(0%);
  opacity: 1;
}
.toggle-nav:checked ~ .nav__overlay {
  display: inline-block;
}

@media only all and (min-width: 740px) {
  .navbar-toggler {
    display: none;
  }
  .nav__pc {
    display: block;
  }
}

@media only all and (min-width: 1024px) {
}

@media only all and (min-width: 740px) and (max-width: 1023px) {
}
